.container-profile{
    display: flex;
    padding: 3rem;
}
.col-data{
    width: 30%;
    padding: 1rem;
}
.col-reservas{
    width: 70%;
    padding: 1rem;
}
.wraper-data{
    background-color: rgb(241, 241, 241);
    border: solid 1px transparent;
    border-radius: 10px;
    padding: 2rem;
    
}
.wraper-img{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.wraper-img img{
    border: solid 1px transparent;
    border-radius: 10px;
}
.wraper-data h3, .wraper-data h4{
    text-align: center;
}
.btn-more-reserves{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}
.btn-more-reserves a{
    padding: 10px 20px;
    background-color: rgb(36, 22, 167);
    cursor: pointer;
    color: #fff;
    border: solid 1px transparent;
    border-radius: 50px;
    text-decoration: none;
}
.wraper-more-info{
    min-height: 150px;
    background-color: rgb(241, 241, 241);
    border: solid 1px transparent;
    border-radius: 10px;
    padding: 2rem;
    margin-top: 2rem;
}
.wraper-more-info h3{
    margin-bottom: 2rem;
}
.info-item{
    margin-top: 0.4rem;
}
.info-item span{
    font-weight: 400;
}
.wraper-reserves{
    padding: 2rem;
    min-height: 500px;
    background-color: rgb(241, 241, 241);
    border: solid 1px transparent;
    border-radius: 10px;
}
.wraper-table table{
    margin-top: 2rem;
    width:100% ;
}
.wraper-table table thead{
    background-color: rgb(130, 123, 235);
    
}
.wraper-table table thead th{
    padding: 0.5rem;
}
.wraper-table table tbody tr th{
    padding: 0.3rem;
}
.wraper-table table tbody tr:nth-child(even){
    background-color: rgb(235, 229, 229);
}
.btn-delete{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.btn-delete img{
    width: 20px;
}